body {
  background-color: lightgray;
}

.title-and-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  font-family: "Open Sans Condensed", sans-serif;
  width: fit-content;
  margin: auto;
}

img {
  height: 100px;
}

#title {
  color: black;
  font-size: 40pt;
}

#confirmation {
  position: relative;
  text-align: center;
}

#menu-items {
  padding: 10px 0px;
}

/* MENU DOT LEADERS */

div.leaders {
  max-width: inherit;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

div.leaders span:first-child:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

div.leaders span:first-child {
  padding-right: 0.4em;
  background-color: lightgray;
}

div.leaders span:last-child {
  float: right;
  padding-left: 0.33em;
  background-color: lightgray;
}

#order-num {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  color: white;
  background-color: rgba(137, 22, 22, 255);
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

.order {
  border: 5px solid rgb(39, 38, 38);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  width: 700px;
  height: max-content;
  font-size: 20px;
  overflow: hidden;
}

#order-total,
#restaurant {
  text-align: right;
  margin: 10px 0px;
}

#number,
#total,
#restaurant-name,
#status,
#estimate {
  text-align: right;
}

#order-status,
#order-estimate {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 700px;
  margin: auto;
  color: white;
  background-color: rgb(29, 29, 29);
  font-size: 20px;
}

hr {
  border: none;
  height: 3px;
  background-color: rgb(29, 29, 29);
}
/* BOOTSTRAP CSS: TOOLTIP */
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;
}

.tooltip.show {
  opacity: 0.9;
}

.tooltip .arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;
}

.tooltip .arrow::before {
  position: absolute;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-tooltip-top,
.bs-tooltip-auto[x-placement^="top"] {
  padding: 0.4rem 0;
}

.bs-tooltip-top .arrow,
.bs-tooltip-auto[x-placement^="top"] .arrow {
  bottom: 0;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  top: 0;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
}

.bs-tooltip-right,
.bs-tooltip-auto[x-placement^="right"] {
  padding: 0 0.4rem;
}

.bs-tooltip-right .arrow,
.bs-tooltip-auto[x-placement^="right"] .arrow {
  left: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-right-color: #000;
}

.bs-tooltip-bottom,
.bs-tooltip-auto[x-placement^="bottom"] {
  padding: 0.4rem 0;
}

.bs-tooltip-bottom .arrow,
.bs-tooltip-auto[x-placement^="bottom"] .arrow {
  top: 0;
}

.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  bottom: 0;
  border-width: 0 0.4rem 0.4rem;
  border-bottom-color: #000;
}

.bs-tooltip-left,
.bs-tooltip-auto[x-placement^="left"] {
  padding: 0 0.4rem;
}

.bs-tooltip-left .arrow,
.bs-tooltip-auto[x-placement^="left"] .arrow {
  right: 0;
  width: 0.4rem;
  height: 0.8rem;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  left: 0;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-left-color: #000;
}

.tooltip-inner {
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
}

/* NProgress styles used from http://nmackey.com/accessible-nprogress */
/* NProgress BAR */
#nprogress .bar {
  background: rgba(137, 22, 22, 255);
  height: 7px;
}
/* NProgress SPINNER */
.spinner-icon {
  border-color: rgba(137, 22, 22, 255) transparent transparent
    rgba(137, 22, 22, 255) !important;
}

/* CHECK STATUS BUTTON */

input[type="button"] {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(137, 22, 22, 255);
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

input[type="button"]:focus {
  outline: none !important;
}

input[type="button"]:hover {
  background-color: rgb(155, 59, 59);
}

/* NAV BAR */

ul.icon-and-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.icon-and-title li {
  float: left;
}

ul.icon-and-title li img,
ul.icon-and-title li h1 {
  display: block;
  padding: 14px 16px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li:last-child {
  border-right: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(65, 65, 65);
}

ul.topnav li a.active {
  background-color: rgb(75, 77, 75);
}

@media screen and (max-width: 600px) {
  ul.topnav,
  ul.topnav li {
    float: none;
  }
}
