body {
  /* background-image: linear-gradient(-225deg, brown 0%, peru 100%);
    background-image: linear-gradient(to top, brown 0%, peru 100%);
    background-attachment: fixed;
    background-repeat: no-repeat; */
  background-color: darkgrey;
}

.title-and-nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
  font-family: "Open Sans Condensed", sans-serif;
}

img {
  height: 100px;
}

#title {
  color: black;
  font-size: 40pt;
}

#confirmation {
  position: relative;
  text-align: center;
}

#order-num {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  color: white;
  /* background-color: rgb(26, 25, 25); */
  background-color: rgb(165, 42, 42);
  text-align: center;
  padding-right: 20px;
}

#number {
  text-align: right;
}

#info {
  color: black;
  padding: 20px;
  text-align: left;
}

.order {
  box-sizing: content-box;
  /* border: 5px solid rgb(177, 174, 174); */
  border: 5px solid rgb(59, 58, 58);
  border-radius: 10px;
  margin: auto;
  padding: 20px;
  width: 500px;
  font-size: 20px;
  text-align: center;
}

ul.icon-and-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.icon-and-title li {
  float: left;
}

ul.icon-and-title li img,
ul.icon-and-title li h1 {
  display: block;
  padding: 14px 16px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li:last-child {
  border-right: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgb(65, 65, 65);
}

ul.topnav li a.active {
  background-color: rgb(75, 77, 75);
}

@media screen and (max-width: 600px) {
  ul.topnav,
  ul.topnav li {
    float: none;
  }
}
