* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
}

img {
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
      0,
      1fr
    );
  padding: 10px;
  margin: 10px;
}

.grid-item {
  font-size: 20px;
  padding: 15px;
  text-align: center;
  margin: 20px;
}

a {
  color: black;
  cursor: pointer;
}

.grid-item img {
  border: 5px solid black;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

#title {
  color: black;
  font-size: 40pt;
  text-align: center;
}

#directory-title {
  color: black;
  font-size: 30pt;
  text-align: center;
}

#description {
  font-size: large;
  color: white;
  display: block;
  text-align: center;
  width: 800px;
  height: 50px;
  background-color: rgba(137, 22, 22, 255);
  border-radius: 10px;
  padding: 10px;
  margin: auto;
}

/* NAVBAR */

ul.icon-and-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.icon-and-title li {
  float: left;
}

ul.icon-and-title li img,
ul.icon-and-title li h1 {
  display: block;
  padding: 14px 16px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li:last-child {
  border-right: none;
}

ul.topnav li.logout {
  float: right !important;
}

li.logout button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: none;
  font-size: 25px;
  background-color: rgb(29, 29, 29);
}

button:focus {
  outline: none !important;
}

ul.topnav li a:hover:not(.active),
ul.topnav li button:hover:not(.active) {
  background-color: rgb(65, 65, 65);
}

ul.topnav li a.active {
  background-color: rgb(75, 77, 75);
}

@media screen and (max-width: 600px) {
  ul.topnav,
  ul.topnav li {
    float: none;
  }
}
