body{
    background-image: linear-gradient(-225deg, brown 0%, peru 100%);
    background-image: linear-gradient(to top, brown 0%, peru 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    display: grid;
    place-items: center;
}