<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="shortcut icon" href="../images/umass_circle_logo.png" type="image/x-icon">
    <link href="menu.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="menu.js" defer></script>
</head>

<body>
    <ul class="icon-and-title">
        <li><img src="../images/umass_circle_logo.png" alt="UMass Amherst Logo"></li>
        <li>
            <h1 id="title">UMass Pick-Up</h1>
        </li>
    </ul>

    <div>
        <ul class="topnav">
            <li><a class="active" href="../index.html">Home</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
            <li class="signout"><a href="signin/sign_in.html" onclick="logout()">Sign Out</a></li>
        </ul>
    </div>

    <br>
    <div id="menu">
        <h1>The Grill Menu</h1>
        <p id="instructions"><strong>Instructions:</strong><br>Please choose quantity of your desired menu item(s).</p>

        <form action="/order" method="POST">

            <div id="entrees">
                <h2>Entrees</h2>
                <div id="warning"> **Please select at least one item from the entire menu </div>
                <div>
                    <div class= "leaders">
                        <input type="number" name="entree" id="ab" min="0">
                        <label for="ab">Awesome Burger (Plant Based Bac'n Cheezeburger)</label>
                        <span>$5.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="bbbb" min="0">
                        <label for="bbbb">Baby Berk Blue Burger</label>
                        <span>$5.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="bbb" min="0">
                        <label for="bbb">Baby Berk Burger</label>
                        <span>$5.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="cb" min="0">
                        <label for="cb">Chicken Burger</label>
                        <span>$5.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="ctfb" min="0">
                        <label for="ctfb">Chicken Tenders & Fries Basket</label>
                        <span>$9.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="db" min="0">
                        <label for="db">Double Burger</label>
                        <span>$6.99</span>
                    </div>
                    
                    <div class= "leaders">
                        <input type="number" name="entree" id="dcb" min="0">
                        <label for="dcb">Double Chicken Burger</label>
                        <span>$6.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="dtb" min="0">
                        <label for="dtb">Double Turkey Burger</label>
                        <span>$6.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="fct" min="0">
                        <label for="fct">Fried Chicken Tenders</label>
                        <span>$6.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="hamb" min="0">
                        <label for="hamb">Hamburger</label>
                        <span>$5.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="hdsb" min="0">
                        <label for="hdsb">Hampden Gold'n Spicy Burger</label>
                        <span>$6.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="hb" min="0">
                        <label for="hb">Hampshire Burger</label>
                        <span>$9.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="pbdb" min="0">
                        <label for="pbdb"> Plant Based Double Mac'n Cheeze Burger</label>
                        <span>$9.99</span>
                    </div>
              
                    <div class= "leaders">
                        <input type="number" name="entree" id="tb" min="0">
                        <label for="tb">Turkey Burger</label>
                        <span>$9.99</span>
                    </div>
              
                </div>
            </div>

            <div id="sidesDrinks"> 
                <h2>Side and Drinks </h2>
                    <div class= "leaders">
                        <input type="number" name="Snd" id="cm" min="0">
                        <label for="cm">Chocolate Milkshake</label>
                        <span>$5.99</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="sm" min="0">
                        <label for="sm">Strawberry Milkshake</label>
                        <span>$5.99</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="vm" min="0">
                        <label for="vm">Vanilla Milkshake</label>
                        <span>$5.99</span>
                    </div>
                    
                    <div class= "leaders">
                        <input type="number" name="Snd" id="ff" min="0">
                        <label for="ff">French Fries</label>
                        <span>$2.99</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="or" min="0">
                        <label for="or">Onion Rings</label>
                        <span>$2.99</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="ss" min="0">
                        <label for="ss">Side Salad</label>
                        <span>$4.99</span>
                    </div> 

                    <div class= "leaders">
                        <input type="number" name="Snd" id="SPFF" min="0">
                        <label for="SPFF">Sweet Potato French Fries</label>
                        <span>$4.99</span>
                    </div> 

                    <div class= "leaders">
                        <input type= "number" name="Snd" id="bs" min="0">
                        <label for="bs">Bacon Slice</label>
                        <span>$0.75</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="fa" min="0">
                        <label for="fa">Fresh Avocado</label>
                        <span>$1.50</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="fe" min="0"S>
                        <label for="fe">Fried Egg</label>
                        <span>$1.99</span>
                    </div>

                    <hr>
                    <div>
                        <p id="total"><strong>Order Total: </strong>$0.00</p>
                    </div>
                </div>
            <input type="submit" value="Check Out">
        </form>
    </div>
    <br>
</body>

</html>