<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="shortcut icon" href="../images/umass_circle_logo.png" type="image/x-icon">
    <link href="menu.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="menu.js" defer></script>
</head>

<body>
    <ul class="icon-and-title">
        <li><img src="../images/umass_circle_logo.png" alt="UMass Amherst Logo"></li>
        <li>
            <h1 id="title">UMass Pick-Up</h1>
        </li>
    </ul>

    <div>
        <ul class="topnav">
            <li><a class="active" href="../index.html">Home</a></li>
            <li><a href="../contact/contact.html">Contact</a></li>
            <li class="signout"><a href="../signin/sign_in.html" onclick="logout()">Sign Out</a></li>
        </ul>
    </div>

    <br>
    <div id="menu">
        <h1> Deli Delish Menu</h1>
        <p id="instructions"><strong>Instructions:</strong><br>Please choose quantity of your desired menu item(s).</p>

        <form action="/order" method="POST">

            <div id="entrees">
            <h2>Entrees</h2>
            <div id="warning"> **Please select at least one item from the entire menu </div>
            <div>
                <div class= "leaders">
                    <input type="number" name="entree" id="bwc" min="0">
                    <label for="bwc">Blue Wall Club (Bacon)</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="bcs" min="0">
                    <label for="bcs">Buffalo Chicken Sandwich</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="cs" min="0">
                    <label for="cs">Caprese Sandwich</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="cbrs" min="0">
                    <label for="cbrs">Chicken Bacon Ranch Sandwich</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="cps" min="0">
                    <label for="cps">Chicken Pesto Sandwich</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="cg" min="0">
                    <label for="cg">Classic Grinder</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="icc" min="0">
                    <label for="icc">Italian Cold Cut</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="sc" min="0">
                    <label for="sc">Steak & Cheese</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree" id="tblt" min="0">
                    <label for="tblt">The BLT</label>
                    <span>$7.99</span>
                </div>

                <div class= "leaders">
                    <input type="number" name="entree"  id="tcs" min="0">
                    <label for="tsc">Three Cheese & Spinach</label>
                    <span>$7.99</span>
                </div>

            </div>
        </div>

            <div id="sidesDrinks"> 
                <h2>Side and Drinks </h2>
                    <div class= "leaders">
                        <input type="number" name="Snd"  id="w" min="0">
                        <label for="w">Water</label>
                        <span>$0.99</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd" id="fd" min="0">
                        <label for="fd">Fountain Drink</label>
                        <span>$1.99</span>
                    </div>

                    <div class= "leaders">
                        <input type= "number" name="Snd"  id="bs" min="0">
                        <label for="bs">Bacon Slice</label>
                        <span>$0.75</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd"  id="fa" min="0">
                        <label for="fa">Fresh Avocado</label>
                        <span>$1.50</span>
                    </div>

                    <div class= "leaders">
                        <input type="number" name="Snd"  id="pc" min="0">
                        <label for="pc">Potato Chips</label>
                        <span>$2.99</span>
                    </div>
                    <hr>
                    <div>
                        <p id="total"><strong>Order Total: </strong>$0.00</p>
                    </div>
            </div>
            <input type="submit" value="Check Out">
        </form>
    </div>
    <br>
</body>

</html>