* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: lightgray;
  margin: auto;
}

img {
  height: 100px;
}

#title {
  color: black;
  font-size: 40pt;
  text-align: center;
}

.grid-item {
  border: 5px solid rgb(59, 58, 58);
  border-radius: 10px;
  text-align: left;
  margin: 20px auto;
  width: 500px;
  height: fit-content;
  font-size: small;
}

#description {
  font-size: large;
  display: block;
  text-align: center;
  width: 800px;
  height: 20px;
  background-color: rgba(137, 22, 22, 255);
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  color: white;
}

/* ORDER SLIP */

#confirmation {
  position: relative;
  text-align: center;
}

#menu-items {
  padding: 10px 0px;
}

/* MENU DOT LEADERS */

div.leaders {
  max-width: inherit;
  padding: 0px;
  margin: 0px 10px;
  overflow-x: hidden;
  list-style: none;
}

div.leaders span:first-child:after {
  float: left;
  width: 0;
  white-space: nowrap;
  content: ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
}

div.leaders span:first-child {
  padding-right: 0.4em;
  background-color: lightgray;
}

div.leaders span:last-child {
  float: right;
  padding-left: 0.33em;
  background-color: lightgray;
}

#order-num,
#order-status {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  color: white;
  background-color: rgb(29, 29, 29);
  text-align: left;
  padding: 10px;
  margin: 10px;
}

#order-total,
#restaurant {
  text-align: right;
  margin: 10px;
}

#number,
#status {
  text-align: right;
}

hr {
  border: none;
  height: 3px;
  background-color: rgb(29, 29, 29);
  margin: 0px 10px;
}

div.buy {
  display: inline-block;
}

/* BUY AGAIN BUTTON */
.buy-again {
  border: 2px solid;
  border-radius: 10px;
  background-color: rgba(137, 22, 22, 255);
  color: white;
  font-size: small;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  float: right;
  cursor: pointer;
}

/* NAVBAR */

ul.icon-and-title {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.icon-and-title li {
  float: left;
}

ul.icon-and-title li img,
ul.icon-and-title li h1 {
  display: block;
  padding: 14px 16px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(29, 29, 29);
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

li:last-child {
  border-right: none;
}

ul.topnav li.logout {
  float: right !important;
}

li.logout button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-style: none;
  font-size: 25px;
  background-color: rgb(29, 29, 29);
}

button:focus {
  outline: none !important;
}

ul.topnav li a:hover:not(.active),
ul.topnav li button:hover:not(.active) {
  background-color: rgb(65, 65, 65);
}

ul.topnav li a.active {
  background-color: rgb(75, 77, 75);
}

@media screen and (max-width: 600px) {
  ul.topnav,
  ul.topnav li {
    float: none;
  }
}
